@using LampNet.Models
@using System.Data;
@using System;
@using System.Collections
@{
    Layout = "~/Views/Shared/ControlCenter_Layout.cshtml";
    ViewBag.Title = "CenterSettingLight";
}
@{
    TBL_SITE[] sitearray = ViewBag.sitearray as TBL_SITE[];
    TBL_CTRCONTROL[] ctrarray = ViewBag.ctrarray as TBL_CTRCONTROL[];
    TBL_CTRCONTROL[] allInfo = ViewBag.allInfo as TBL_CTRCONTROL[];
}
<!--Head-->
<nav class="hl_nav" id="indexNavTop">
    <div class="head_box">
        <div class="head_left">
            <a href="~/MainIndex/Index"><img src="../Content/assets/img/Logo1.png" title="首页" style="max-height: 50px;border: 0;vertical-align: middle;" /></a><span style="display:none">中国铁塔城市公共物联网平台--灯联网应用</span>
        </div>

        <div class="head_right">
            <img src="../Content/assets/img/headImg.png" alt="Alternate Text" id="userInfo" title="@ViewBag.user">
            <span style="font-size:14px;color:#00c1de">
                @ViewBag.user
            </span>


            <a href="~/MainIndex/Index" style="text-decoration:none;width:22px;height:22px;display:inline;color: #5b96bc;font-size: 14px;"><img src="../Content/assets/img/g.png" alt="Alternate Text" id="switchAdmin" title="回到首页">首页</a>
            <a href="~/Account/Login" style="text-decoration:none;width:22px;height:22px;display:inline;color: #5b96bc;font-size: 14px;"><img src="../Content/assets/img/tc.png" alt="Alternate Text" id="btnQuit" title="注销">注销</a>
        </div>
    </div>
    <!--二级菜单-->
    <ul class="nav_list">
        <li class=" ">
            <a class="nav_head " href="~/CenterControl/CenterControl">集中控制 <i></i></a>
        </li>
        <li class=" ">
            <a class="nav_head shadeActiveli" href="~/CenterControl/CenterSettingTime">集中设置 <i class="block"></i></a>
        </li>
        <li class=" ">
            <a class="nav_head" href="~/SingleControl/SingleControl">单灯控制 <i></i></a>
        </li>
        <li class=" ">
            <a class="nav_head" href="~/SingleControl/SingleSettingTime">单灯设置 <i></i></a>
        </li>
    </ul>
    <div class="shade">
        <ul class="offset_left">
            <li>
                <a class="menuTopLists" href="~/CenterControl/CenterSettingTime">时钟设置</a>
            </li>
            <li>
                <a class="menuTopLists shade_active" href="~/CenterControl/CenterSettingLight">光控设置</a>
            </li>
            <li>
                <a class="menuTopLists" href="~/CenterControl/CenterSettingSetTime">定时设置</a>
            </li>
        </ul>
    </div>
</nav>
<!--Content-->
<div class="k-body" style="min-height:100%">
    
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 350px; vertical-align: top;overflow:scroll" id="ctrlTdA">
                        <form action="~/CenterControl/CenterSettingLightSelect" method="post" autocomplete="off">
                        <span>
                            站点：
                            <select id="siteName" name="siteName">
                                @{ if (allInfo == null)
                                    {
                                    <option>无</option>
                                }
                                else
                                {
                                    foreach(var item in allInfo)
                                    {
                                        foreach(var site in sitearray)
                                        {
                                            if(item.siteId == site.siteId)
                                            {
                                                <option value="@site.siteName">@site.siteName</option>
                                            }
                                        }
                                        
                                    }
                                }
                            }
                            </select>
                            <input id="siteId" name="siteId" placeholder="站点编号" type="text" value="">
                            <input type="submit" class="k-btn" value="查询">
                        </span>
                            </form>
                    </td>
                    <td style="vertical-align: top" id="ctrlTdB">
                        <div style=" background-color: #c0c0c0">
                            <!--协议分组-->
                            <div class="k-tabs">
                                <ul>
                                    <li class="k-tab "><a href="~/CenterControl/CenterSettingLight">光控设置</a></li>
                                </ul>
                            </div>
                            <div id="setarea" style="padding: 10px">
                                <!--协议本体-->
                                <form action="~/CenterControl/CenterSettingLightUpdate" method="post" autocomplete="off">
                                <table style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td class="kctrl-label">
                                                @{ 
                                                    foreach(var item in sitearray)
                                                    {
                                                        if(item.siteId == ctrarray[0].siteId)
                                                        {
                                                            <span class="k-tab" style="color:brown">@item.siteName</span>
                                                            <input type="text" id="siteId" name="siteId" value=@item.siteId hidden="hidden" />
                                                            <input type="text" id="ctrcontrolTimweek" name="ctrcontrolTimweek" value=@ctrarray[0].ctrcontrolTimweek hidden="hidden" />
                                                            <input type="text" id="ctrcontrolTimopetime" name="ctrcontrolTimopetime" value=@ctrarray[0].ctrcontrolTimopetime hidden="hidden" />
                                                            <input type="text" id="ctrcontrolTimclotime" name="ctrcontrolTimclotime" value=@ctrarray[0].ctrcontrolTimweek hidden="hidden" />
                                                            <input type="text" id="ctrcontrolSystime" name="ctrcontrolSystime" value=@ctrarray[0].ctrcontrolSystime hidden="hidden" />
                                                            <input type="text" id="ctrcontrolSysweek" name="ctrcontrolSysweek" value=@ctrarray[0].ctrcontrolSysweek hidden="hidden" />
                                                        }
                                                    }
                                                }
                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="kctrl-label">照度作用星期：</td>
                                            <td>
                                                <select name="ctrcontrolLigweek">
                                                    <option value="0" selected="selected">周一至周日</option>
                                                    <option value="1">周一</option>
                                                    <option value="2">周二</option>
                                                    <option value="3">周三</option>
                                                    <option value="4">周四</option>
                                                    <option value="5">周五</option>
                                                    <option value="6">周六</option>
                                                    <option value="7">周日</option>
                                                    <option value="8">一二三四五六</option>
                                                    <option value="9">一二三四五</option>
                                                    <option value="10">六日</option>
                                                    <option value="11">一二三</option>
                                                    <option value="12">四五六</option>
                                                    <option value="13">一三五</option>
                                                    <option value="14">二四六</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="kctrl-label">开灯光照值：</td>
                                            <td><input type="text" name="ctrcontrolOpeligvalue" value=@ctrarray[0].ctrcontrolOpeligvalue> Lux</td>
                                        </tr>
                                        <tr>
                                            <td class="kctrl-label">关灯光照值：</td>
                                            <td><input type="text" name="ctrcontrolCloligvalue" value=@ctrarray[0].ctrcontrolCloligvalue> Lux</td>
                                        </tr>
                                        <tr>
                                            <td class="kctrl-label">光照值来源：</td>
                                            <td>
                                                <select name="ctrcontrolLigvalsource">
                                                    @{
                                                    if (ctrarray[0].ctrcontrolLigvalsource == 0)
                                                    {
                                                        <option value="0" selected="selected">本机</option>
                                                        <option value="1">上位机</option>
                                                }
                                                else
                                                {
                                                    <option value="0">本机</option>
                                                    <option value="1" selected="selected">上位机</option>
                                            }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="margin-top: 15px">
                                    <input type="submit" id="btnSendProto" name="oprType" class="k-btn" value="执行">
                                </div>
                                    </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

